.newsletter-audience-admin {
    margin-bottom: 10px;
}
.newsletter-audience-admin .button-bar {
    text-align: right;
    float: right;
    z-index: 0;
    padding: 0;
    background: 0;
    width: auto;
}
