{% extends 'partials/base.html.twig' %}

{% block titlebar %}
    <h1><i class="fa fa-fw fa-newspaper-o"></i> {{ "PLUGIN_NEWSLETTER.NEWSLETTER"|tu }}</h1>
{% endblock %}

{% block content %}
    <div class="gpm gpm-newsletter">
        {% include 'partials/audience.html.twig' %}
    </div>
{% endblock %}
